/* pc.css */
body {
  max-width: 1600px;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
}

header {
  width: 100%;
  background: #333;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

header nav ul li a {
  color: #fff;
}

header nav ul li {
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
}

#main-visual {
  width: 100%;
  height: 450px;
  background: #ccc;
  background-image: url(../images/main-visual-pc.jpg);
  background-size: cover;
  background-position: center;
}

/* contents */
#contents {
  width: 100%;
  display: flex;
}

#contents > article {
  flex: 1;
  padding: 50px 30px;
}

#contents > article > h2 {
  margin-bottom: 40px;
}

#contents > article > ul > li {
  margin-bottom: 15px;
}

#contents > article > ul > li:last-child > p {
  margin-bottom: 15px;
}

#location {
  background: #ccc;
}

/* 이 달의 추천 */
#choice {
  width: 100%;
  background: #333;
  padding: 50px 30px;
}

#choice h2, #choice p {
  color: #fff;
}

#choice h2 {
  margin-bottom: 40px;
}

#choice h3 {
  color: #D67E42;
  margin-bottom: 15px;
}

#choice .text-group {
  font-size: 24px;
}

#choice .text-group p {
  margin-bottom: 20px;
}

#choice > article {
  display: flex;
  align-items: center;
}

#choice > article > img {
  width: 300px;
  margin-left: 70px;
}

footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 14px;
  color: #666;
}